

.admin-dashboard {
    @include flex;
    align-items: normal;
    min-height: 100vh;
    background-color: #e4e4e4;

    .sidebar {
        width: 240px;
        background-color: $primary;
        color: $third;
        padding: 30px;

        h2 {
            font-size: 1.5rem;
        }

        ul {
            li {
                margin: 15px 0;
                padding: 15px;
                font-size: 1rem;
                transition: .3s;
                font-weight: $fw-700;
                cursor: pointer;
                &:hover.logout {
                    color: $bgColor4;
                }
                &:hover {
                    @include active;
                }
            }
            .logout {
                color: $third;
            }
        }
    }

    .main-content {
        flex: 1;
        padding: 40px;

        header {
            margin-bottom: 20px;
            h1 {
                color: $shadow;
            }
        }

        .section-box {
            margin-bottom: 40px;

            h2 {
                margin-bottom: 15px;
                color: $second;
            }
            
            .card-grid {
                @include grid(20px, repeat(auto-fit, minmax(450px, 1fr)));
                .card {
                    @include flex(center, start);
                    flex: 1;
                    flex-direction: column;
                    background-color: $third;
                    border-radius: $b-radius;
                    padding: 15px;
                    box-shadow: $b-shadow;
                    p {
                        margin: 5px 0;
                    }
                    button {
                        @include button2;
                        padding: 8px 20px;
                        width: fit-content;
                        transition: 0.3s;
                        &:hover {
                            background-color: $second;
                        }
                    }
                    .danger {
                        background-color: $bgColor1;
                        &:hover {
                            background-color: $pink;
                        }
                    }
                }
                .campains-card {
                    @include flex;
                    gap: 100px;
                    background-color: $third;
                    border-radius: $b-radius;
                    box-shadow: $b-shadow;

                    .left {
                        @include flex(center, start);
                        flex: 1;
                        flex-direction: column;
                        padding: 15px;
                        p {
                            margin: 5px 0;
                        }
                        button {
                            @include button2;
                            padding: 8px 20px;
                            width: fit-content;
                            transition: 0.3s;
                            &:hover {
                                background-color: $second;
                            }
                        }
                        .danger {
                            background-color: $bgColor1;
                            &:hover {
                                background-color: $pink;
                            }
                        }
                    }
                    .right {
                        flex: 1;
                        img {
                            width: 70%;
                            margin: 20px 0;
                            border-radius: $b-radius;
                        }
                    }
                    
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .admin-dashboard .main-content {
        padding: 40px 20px;
    }
    .campains-card {
        flex-direction: column;
    }
    .section-box .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .campains-card .right img {
        margin: 20px;
    }

}

@media (max-width: 768px) {
    .admin-dashboard .sidebar {
        width: 218px;
        background-color: #267aa4;
        color: #f0eeef;
        padding: 30px;
    }
}