.backerPage {
    width: 70%;
    margin: 0 auto;
    background-color: $third;
    .backerPage-content {
        flex: 1;
        padding: 40px;
        header {
            margin-bottom: 20px;
            h1 {
                color: $shadow;
            }
        }
        .section-box {
            margin-bottom: 40px;
            h2 {
                margin-bottom: 15px;
                color: $second;
            }
            .check-box{
                text-align: center;
                background-color: $third;
                box-shadow: 2px 2px 10px rgb(172, 169, 169);
                padding: 10px;
                margin-bottom: 12px;
                border-radius: 7px;
                h3{
                    color: $second;
                    font-size: 22px;
                    font-weight: bold;
                    margin: 10px 5px;
                }
                label{
                    margin-right: 5px;
                    font-size: 18px;
                    color:$primary;
                    font-weight: bolder;
                }
            }
            .card-grid {
                @include grid(20px, repeat(auto-fit, minmax(450px, 1fr)));
                .card {
                    background-color: $third;
                    border-radius: $b-radius;
                    box-shadow: 2px 2px 10px rgb(172, 169, 169);;
                    img{
                        width: 100%;
                    }
                    div{
                        padding: 20px;
                        p{
                            margin: 10px 0;
                            font-weight: $fw-700;
                        }
                        button {
                            @include button2;
                            padding: 8px 20px;
                            margin-top: 10px;
                            width: fit-content;
                        }
                    }
                }
                .campains-card {
                    @include flex;
                    gap: 100px;
                    background-color: $third;
                    border-radius: $b-radius;
                    box-shadow: $b-shadow;
                }
            }
        #pledges-container{
                @include grid;

            div{
                display: inline-block;
                text-align: left;
                padding: 20px;
                background-color:$third;
                p{
                    color: $primary;
                    span{
                        color: $shadow;
                        font-weight: 200;
                    }
                }
            }
        }
        }
    }
}


@media (max-width: 767px) {
    .backerPage {
        .backerPage-content {
            padding: 40px 20px;
            .section-box{
                .card-grid{
                    .card {
                        display: flex;
                        flex-direction: column;
                    img{
                        width: 100%;
                    }
                    div{
                        width: 100%;
                    }
                }
            }
        }
    }}
    .campains-card .right img {
        margin: 20px;
    }
    .backerPage .backerPage-content .section-box .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }



}
