



.hero{
    width: 100%;
    height: 100vh;
    background-image: url("../images/landed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .hero-overlay{
      background: rgba(0,0,0,.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    .heroDiv{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      h2{
        display: inline-block;
        color: $light-primary;
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 30px;
        p{
            display: inline-block;
            color:$third;
            font-size: 50px;
        font-weight: bolder;
        }
      }
      p{
        color:$third;
        font-weight: bolder;
        font-size: 20px;
      }
    }
}

.searchDiv{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  input{
    padding: 15px 10px;
    width: 40%;
    border: 1px solid $primary;
    color: $second;
    border-radius: 10px;
  }
}

.compains{
        width:70%;
        @include grid(30px, repeat(auto-fit, minmax(400px, 1fr)));
        margin: 30px auto;
        .card{
            background-color: white;
            padding: 20px;
            border-radius: $b-radius;
            box-shadow: $b-shadow;
            img{
                width:100%;
            }
            h2{
                margin-bottom: 12px;
                color: $primary;
            }

            div {
              margin:5px 10px;
              p {
                font-size: 17px;
                font-weight: bolder;
                margin-bottom: 6px;
                color: rgb(83, 83, 83);
              }
              button{
                @include button2();
                font-size: 18px;
                margin-top: 10px;
                width: 100%;
                &:hover{
                    background-color: $second;
                    color: $third;
                    cursor: pointer;
                }
              }
            }
        }
}


@media (max-width: 767px) {
  .hero .heroDiv h2 {
    font-size: 25px;
    p {
      font-size: 25px;
    }
  }

    .compains {
      @include grid(20px, repeat(auto-fit, minmax(200px, 1fr)));
      .card {
        h2 {
          font-size: 20px;
        }
        div p {
          font-size: 15px;
        }
      }
    }
    
}