.hero{
    width: 99vw;
    height: 99vh;
    background-image: url("https://as2.ftcdn.net/v2/jpg/06/87/24/25/1000_F_687242507_Hv3D1a4l8dpDlGOhzX9tC1dyftfvesCC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    header{
        display: flex; 
        justify-content: space-between;
        padding: 15px 20px;
        p{
            color: $primary;
            font-size: 30px;
            font-weight: bolder;
            margin-right: 10%;
        }
        
        ul{
            list-style: none;
            display: flex; 
            justify-content: center;
            
                a{
                color: $primary;
                font-size: 20px;
                font-weight: bolder;
                // margin-right: 20px;
                margin-left: 5px;
                }
        }
    }
    .hero-overlay{
      background: rgba(0,0,0,.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    .heroDiv{
      // input{
      //       background-color: transparent;
      //       border: 1px solid $second;
      //       width: 50%;
      //       padding-left: 10px;
      //   }
      position: absolute;
      top: 30%;
      left: 30%;
      width: 50%;
      height:300px;
      text-align: center;
      h1{
        display: inline-block;
        color:$primary;
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 30px;
        p{
            display: inline-block;
            color:$third;
            font-size: 50px;
        font-weight: bolder;
        }
      }
      p{
        color:$third;
        font-weight: bolder;
        font-size: 20px;
      }
    }

    
}
.searchDiv{
  margin-top: 20px;
  width: 100%;
  text-align: center;
input{
  padding: 15px 10px;
  width: 40%;
  border: 1px solid $primary;
  color: $second;
  border-radius: 10px;
}
}

.compains{
    // background-color: red;
        width:98%;
        // display: flex;
        @include flex($gap:10px);
        flex-wrap: wrap;
        margin: 15px 10px;
        // gap: 10px;
        padding: 10px 5px;
        .card{
            width:32% ;
            border-radius: 10px;
            box-shadow: 1px 1px 10px rgb(223, 217, 217);
            img{
                width:100%;
            }
            h2{
                margin-bottom: 12px;
                color: $primary;
            }

            div{
                margin:5px 10px;

              pre{
                color: gray;
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 7px;
                }
            p{
                font-size: 17px;
                font-weight: bolder;
                margin-bottom: 6px;
                color: gray;
                // font-family: ;
            }
            button{
                @include button($bg:transparent,$radius:10px,$padding:15px);
                border: 1px solid $primary;
                font-size: 18px;
                 width: 100%;

                &:hover{
                    background-color: $primary;
                    color: $third;
                    cursor: pointer;
                }
                
            }
            }
        }
    }
footer{
    background-color:$primary;
    padding: 15px 10px;
    color: $third;
    @include flex();
    .footer-sec1{
        @include flex($gap:10px,$justify:none);
        width: 60%;
        margin-left: 20px;
        div{
            line-height: 25px;
            p{
              margin-left: 7px;
                font-size: 12px;
            }
        }
    }
     .footer-sec2{
        width: 35%;
        h4{
            margin-bottom: 12px;
            direction: rtl;
            padding-right: 20px;
        }
        pre{
          line-height: 20px;
          margin-bottom: 12px;
          font-size: 12px;
          font-weight: 100;
        }
    }

  }

  @media all and (max-width:767px) {
   .compains{
     .card{
      width: 45vw;
    }
   }
  }

  @media all and (min-width:967px) {
   .compains{
     .card{
      width: 22vw;
    }
   }
  }