

$primary: #267aa4;
$second: #052c43;
$third: #f0eeef;
$shadow: rgba(0, 0, 0, 0.8);
$b-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
$color1: #f5ebeb;
$color2: #dcebdd;
$color3: #f5efd8;
$color4: #f4e6d8;
$bgColor1: #db7474;
$bgColor2: #8bbd8e;
$bgColor3: #d1b54a;
$bgColor4: #d29a61;
$maxWidth: 1400px;
$w-100: 100%;
$h-450: 450px;
$fw-500: 500;
$fw-700: 700;
$line-h: 1.2;
$radius: 50%;
$b-radius: 8px;
$border: #ccc;
















